body
{
    padding: 0px;
    margin: 0px;
    background-color: rgb(20, 0, 58);
    font-family: "Fira Sans", sans-serif;
}

header
{
    height: 100px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(20, 0, 58));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

footer{
    height: 100px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient( rgb(20, 0, 58), rgb(0, 0, 0));
}

.image{
    height: 900x;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
