@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: rgb(18, 0, 51);
    font-family: "Fira Sans", sans-serif;
}

li, a, button
{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

header
{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(18, 0, 51));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo{
    width: 128px;
    cursor: pointer;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    color:rgb(255, 255, 255);
    transition: all 0.3 ease 0s;
}

.navbar li a:hover{
    transition: all 0.3 ease 0s;
    color:rgb(111, 111, 111);
}

.nav_button {
    border-width: 5px;
    border-color: rgb(26, 26, 26);
    cursor: pointer;
    transition: 0.4s;
    border-radius: 50px;
    border: none;
    background-color: rgb(17, 17, 17);
    padding: 10px 25px;
}

.nav_button:hover{
    transition: 0.4s;
    background-color: rgb(111, 111, 111);
}

.nav_button a{
    color: white;
}

.title{
    color: white;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    padding: 69px 15px;
}

footer{
    padding: 20px;
    height: 100%;
    text-align: center;
    background-image: linear-gradient( rgb(18, 0, 51), rgb(0, 0, 0));
}

.footer_text{
    padding: 15px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    color: white;
}

.fa-brands{
    margin: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    transition: 0.3s;
    transform: scale(1);
    rotate: 0deg;
}

.fa-brands:hover{
    color: rgb(0, 19, 82);
    transition: 0.3s;
    transform: scale(1.5);
    rotate: -8deg;
}

#discord:hover{
    color: #5865F2;
}

#twitter:hover{
    color: #7eb3cd;
}

#instagram:hover{
    color: #C13584;
}

#youtube:hover{
    color: #FF0000;
}


.title{
    text-shadow: #000000;
    font-size: 69px;
    font-weight: 500;
    text-align: center;
}

.text{
    padding: 25px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
}

.text_about{
    height: 690px;
    padding: 25px;
    border-radius: 25px;
    margin: 0px 25px;
    background-image: linear-gradient( rgb(5, 0, 12, 0.7), rgb(0, 0, 0, 0.7));
}

#about_header{
    background-image: linear-gradient( rgb(0, 0, 0), rgb(18, 0, 51));
}

#about_footer{
    background-image: linear-gradient(  rgb(53, 0, 154), rgb(6, 0, 16));
}

.about_background{
    background-image: url(Images/AboutUsBG.png);
    background-repeat: repeat-x;
}

#hehe{
    height: 800px;
}
